@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: orpheus-pro;
  src: url(https://use.typekit.net/af/4f5611/00000000000000007735ebd5/30/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/4f5611/00000000000000007735ebd5/30/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/4f5611/00000000000000007735ebd5/30/a?subset_id=2&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: orpheus-pro;
  src: url(https://use.typekit.net/af/8b252c/00000000000000007735ebd8/30/l?subset_id=2&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/8b252c/00000000000000007735ebd8/30/d?subset_id=2&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/8b252c/00000000000000007735ebd8/30/a?subset_id=2&fvd=n5&v=3) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: orpheus-pro;
  src: url(https://use.typekit.net/af/003616/00000000000000007735ebd7/30/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/003616/00000000000000007735ebd7/30/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/003616/00000000000000007735ebd7/30/a?subset_id=2&fvd=n7&v=3) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: orpheus-pro;
  src: url(https://use.typekit.net/af/aeffc0/00000000000000007735ebd6/30/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/aeffc0/00000000000000007735ebd6/30/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/aeffc0/00000000000000007735ebd6/30/a?subset_id=2&fvd=i4&v=3) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  background-color: #0a0a0a;
  color: #ffffff;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 0;
}

.headline {
  display: inline-block;
}

h1 {
  margin: 0;
  font-family: "orpheus-pro", sans-serif;
  font-size: 2em;
  transition: color 0.5s;
}

.animated-fadein {
  animation: fadeIn infinite;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.body.isScroll {
  overflow: hidden;
}

.body {
  font-family: "orpheus-pro", sans-serif;
  height: 3900px;
}

.headline {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
  font-size: 180%;
}

.main {
  text-align: center;
}

.mainbody {
  text-align: center;
}

.body1 {
  position: absolute;
  filter: brightness(60%) contrast(130%);
  width: 100%;
  height: 1081px;
}

.body2 {
  padding: 20px;
  position: relative;
  left: 70%;
  top: 200px;
  transform: translateX(-50%);
  width: 400px;
  font-size: 150%;
  color: white;
}

.body2 p {
  font-family: "roboto", sans-serif;
  font-weight: 200;
}

.body2 h3 {
  font-size: 150%;
}

@media (max-width: 1037px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 4400px;
  }
}
@media (max-width: 768px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 4700px;
  }
  .mainbody {
    padding-bottom: 0;
  }
  .body1 {
    filter: brightness(60%) contrast(130%);
    width: 100%;
    position: relative;
    margin: 0;
    height: 950px;
  }
  .body2 {
    padding-top: 20px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 80%;
    font-size: 100%;
    margin: 0;
  }
}
@media (max-width: 713px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 4900px;
  }
}
@media (max-width: 630px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 5100px;
  }
}
@media (max-width: 530px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 5300px;
  }
}
@media (max-width: 480px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 5500px;
  }
}
@media (max-width: 439px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 5700px;
  }
}
@media (max-width: 425px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 6000px;
  }
}
@media (max-width: 379px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 6400px;
  }
}
@media (max-width: 355px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 6700px;
  }
}
@media (max-width: 330px) {
  .body {
    font-family: "orpheus-pro", sans-serif;
    height: 7500px;
  }
}
.myPhoto1 {
  background-image: url(../images/photo1.png);
}

header {
  width: 100%;
  position: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}

header ul {
  display: flex;
}

header .inner {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 31%;
  font-size: 35px;
  font-family: "orpheus-pro", sans-serif;
  margin-left: 50px;
}

header .logo span {
  color: #4a6869;
}

header .logo-color:hover {
  color: orange;
  transition: color 0.5s;
}

header .web {
  position: relative;
  width: 100%;
  display: flex;
}

header .web a::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: width 0.5s ease;
}

header .web a:hover::after {
  width: 100%;
}

header .web a {
  display: flex;
  position: relative;
  font-size: 19px;
  flex-grow: 1;
  font-weight: 500;
  transition: color 0.5s, font-size 0.5s;
  text-align: center;
  padding: 0 10px;
  margin: 0 5px; /* Adjust as needed */
}

header .web a:hover {
  color: orange;
}

header .snsContact {
  margin-left: auto;
  margin-right: 50px;
}

header .snsContact a {
  font-size: 35px;
  margin: 0 10px;
  color: #333;
  transition: color 0.3s ease;
}

header .snsContact a:hover {
  color: orange;
  background-color: orange;
  font-size: 38px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}
.mobile-menu {
  display: none;
}

.toggle-button {
  font-size: 24px;
  cursor: pointer;
}

.mobile-menu.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 150px;
  width: 200px;
  height: 500px;
  background-color: #333;
  z-index: 1;
}

.mobile-menu.open .gnb {
  display: flex;
  flex-direction: column;
  width: auto;
}

.mobile-menu.open .gnb a {
  display: flex;
  font-size: 18px;
  padding: 15px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.mobile-menu.open .gnb a.active {
  width: auto;
}

.mobile-menu.open .gnb a:hover {
  color: black;
  background-color: white;
}

@media (max-width: 768px) {
  .gnb {
    display: none;
  }
  .web {
    visibility: hidden;
    width: 0;
  }
  .pc-menu {
    visibility: hidden;
    width: 0;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 480px) {
  header .logo {
    margin-left: 0;
  }
  header .snsContact {
    margin-left: 0;
    margin-right: 0;
  }
  .mobile-menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 200px;
    height: 500px;
    background-color: #333;
    z-index: 1;
  }
}
footer {
  margin-top: 100px;
  width: 100%;
  padding-top: 126px;
  border-top: solid 1px #4a6869;
  touch-action: none;
  font-family: "Poppins", sans-serif;
}

footer .logo {
  font-family: "orpheus-pro", sans-serif;
}

footer .logo span {
  font-family: "Poppins", sans-serif;
}

footer .logo-color:hover {
  color: orange;
  transition: 0.5s;
}

footer .inner {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

footer .info {
  width: 21%;
  margin-right: 20%;
}

footer .info .logo {
  margin-bottom: 14px;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
}

footer .info .logo span {
  color: #4a6869;
}

footer .info p {
  margin-bottom: 39px;
  font-size: 18px;
}

footer .info .sns {
  display: flex;
  justify-content: space-between;
  margin-right: 84px;
}

footer .info .sns a {
  font-size: 35px;
  margin: 0 10px;
  color: #333;
  transition: color 0.3s ease;
}

footer .info .sns a:hover {
  color: #4caf50;
  background-color: #4caf50;
  font-size: 38px;
}

footer .nav {
  width: 16%;
}

footer .nav h2 {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1;
}

footer .nav .list a {
  margin-bottom: 23px;
  font-size: 18px;
  color: white;
  transition: all 0.5s;
}

footer .nav .list a:hover {
  color: orange;
}

footer .contactMe {
  width: 22.1%;
  margin-left: auto;
}

footer .contactMe li {
  margin-bottom: 31px;
  font-size: 17px;
  color: #858585;
}

footer .contactMe li span {
  display: block;
  padding-top: 4px;
  font-size: 20px;
  color: #56565c;
  transition: all 0.5s;
}

footer .contactMe li span:hover {
  color: rgb(43, 174, 41);
}

footer .copy {
  width: 100%;
  margin-top: 55px;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-bottom: 5px;
  border-top: solid 1px #eff3f0;
  text-align: center;
  color: #78787d;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    visibility: hidden;
  }
  .contactMe {
    display: none;
    visibility: hidden;
  }
  footer {
    width: 768px;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  .nav {
    display: none;
    visibility: hidden;
  }
  .contactMe {
    display: none;
    visibility: hidden;
  }
  footer {
    width: 480px;
    overflow: hidden;
  }
}
.contact {
  margin-top: 50px;
}

.experiences {
  text-align: center;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.experiences h2 {
  font-size: 300%;
  margin-bottom: 20px;
}

.experiences h3 {
  text-align: left;
  background-color: #0a0a0a;
  color: white;
  font-size: 170%;
}

.experiences h4 {
  text-align: left;
  background-color: #0a0a0a;
  color: white;
  font-size: 140%;
}

.experiences h5 {
  text-align: left;
  background-color: #0a0a0a;
  color: white;
  white-space: pre-line;
  font-size: 130%;
}

.ex-info {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 200;
}

.experience-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0a0a0a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap as needed */
  margin-top: 20px; /* Adjust the top margin as needed */
  width: auto;
}

.experience-box {
  text-align: center;
  border: 2px solid white;
  width: 800px;
  padding: 20px; /* Add padding for better spacing */
  background-color: #0a0a0a; /* Add a background color */
  color: white; /* Set text color */
  box-shadow: 0 0 10px rgb(255, 255, 255); /* Add a subtle box shadow */
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Add transitions */
}

.experience-box:hover {
  border: 3px solid orange;
  color: black; /* Change text color on hover */
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Add transitions */
}

.projects {
  text-align: center;
  margin-top: 500px;
}

.projects h2 {
  font-size: 300%;
  margin-bottom: 40px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap as needed */
  margin-top: 20px; /* Adjust the top margin as needed */
}

.project-box {
  text-align: center;
  border: 2px solid white;
  width: 500px;
  padding: 20px; /* Add padding for better spacing */
  background-color: #0a0a0a; /* Add a background color */
  color: white; /* Set text color */
  box-shadow: 0 0 10px rgb(255, 255, 255); /* Add a subtle box shadow */
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Add transitions */
}

.project-box:hover {
  border: 3px solid orange;
  color: black; /* Change text color on hover */
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Add transitions */
}

.projects h3 {
  background-color: #0a0a0a;
  font-size: 170%;
}

.projects p {
  background-color: #0a0a0a;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 250;
}

.projects a {
  background-color: #0a0a0a;
  color: palevioletred;
  font-family: "Poppins", sans-serif;
}

.project a:hover {
  font-weight: bold;
}

@media (max-width: 768px) {
  .projects {
    margin-top: 300px;
  }
}
.interests {
  text-align: center;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.interests h2 {
  font-size: 300%;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap as needed */
  margin-top: 20px; /* Adjust the top margin as needed */
  width: auto;
}

.image-box {
  text-align: center;
}/*# sourceMappingURL=style.css.map */