.experiences {
    text-align: center;
    margin-top: 50px;
}

.experiences h2 {
    font-size: 300%;
    margin-bottom: 20px;
}

.experiences h3{
    text-align: left;
    background-color: 0a0a0a;
    color: white;
    font-size: 130%;
}

.experiences h4{
    text-align: left;
    background-color: 0a0a0a;
    color: white;
    font-size: 120%;
}

.experiences h5{
    text-align: left;
    background-color: 0a0a0a;
    color: white;
    white-space: pre-line;
    font-size: 120%;
}

.ex-info {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.experience-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: 0a0a0a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
    width: auto;
}

.experience-box {
    text-align: center;
    border: 0 0 0 2px  solid 0a0a0a;
    border-radius: 10px;
    width: 800px;
    padding: 20px; /* Add padding for better spacing */
    background-color: 0a0a0a; /* Add a background color */
    color: 0a0a0a; /* Set text color */
    box-shadow: 0 0 10px rgb(255, 255, 255); /* Add a subtle box shadow */
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Add transitions */
}

.experience-box:hover {
    border: 3px solid yellowgreen;
    color: 0a0a0a; /* Change text color on hover */
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Add transitions */
}