footer {
	margin-top: 100px;
	width: 100%;
	padding-top: 126px;
	border-top: solid 1px #4a6869;
	touch-action: none;
	font-family: 'Poppins', sans-serif;
  }
footer .logo {
	font-family: 'orpheus-pro', sans-serif;	
}
footer .logo span{
	font-family: 'Poppins', sans-serif;
}

footer .logo-color:hover{
	color: orange;
	transition: 0.5s;
}
footer .inner {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	margin: 0 auto;
  }
footer .info {
	width: 21%;
	margin-right: 20%;
  }
footer .info .logo {
	margin-bottom: 14px;
	font-size: 40px;
	line-height: 1;
	font-weight: 700;
  }
footer .info .logo span {
	color: #4a6869;
  }
footer .info p {
	margin-bottom: 39px;
	font-size: 18px;
  }
footer .info .sns {
	display: flex;
	justify-content: space-between;
	margin-right: 84px;
  }
  
footer .info .sns a {
	font-size: 35px;
	margin: 0 10px;
	color: #333;
	transition: color 0.3s ease;
  }

footer .info .sns a:hover {
	color: #4caf50;
	background-color: #4caf50;
	font-size: 38px;
  }
footer .nav {
	width: 16%;
  }
footer .nav h2 {
	margin-bottom: 20px;
	font-weight: 500;
	line-height: 1;
  }
footer .nav .list a {
	margin-bottom: 23px;
	font-size: 18px;
	color: white;
	transition: all 0.5s;
  }
footer .nav .list a:hover {
	color: orange;
  }
footer .contactMe {
	width: 22.1%;
	margin-left: auto;
  }
footer .contactMe li {
	margin-bottom: 31px;
	font-size: 17px;
	color: #858585;
  }
footer .contactMe li span {
	display: block;
	padding-top: 4px;
	font-size: 20px;
	color: #56565c;
	transition: all 0.5s;
  }
footer .contactMe li span:hover {
	color: rgb(43, 174, 41);
  }
footer .copy {
	width: 100%;
	margin-top: 55px;
	padding-top: 26px;
	padding-bottom: 26px;
	margin-bottom: 5px;
	border-top: solid 1px #eff3f0;
	text-align: center;
	color: #78787d;
  }

@media (max-width: 768px) {
	.nav {
	  display: none;
	  visibility: hidden;
	}

	.contactMe{
		display: none;
		visibility: hidden;	
	}

	footer {
		width: 768px;
		overflow: hidden;
	}
}

@media (max-width:480px) {
	.nav {
		display: none;
		visibility: hidden;
	}

	.contactMe{
		display: none;
		visibility: hidden;	
	}

	footer {
		width: 480px;
		overflow: hidden;
	}
}