header {
	width: 100%;
	position: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	font-family: 'Poppins', sans-serif;
}

header ul {
	display: flex;
}

  header .inner {
	display: flex;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
	justify-content: space-between;
	align-items: center;
  }

header .logo {
	width: 31%;
	font-size: 35px;
	font-family: 'orpheus-pro', sans-serif;
	margin-left: 50px;
}

header .logo span {
	color: #4a6869;
}

header .logo-color:hover{
	color: orange;
	transition: color 0.5s;
}

header .web {
	position: relative;
	width: 100%;
	display: flex;
}

header .web a::after {
	content: '';
	position: absolute;
	background-color: #FFFFFF;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -8px;
	transition: width 0.5s ease;
}
  
header .web a:hover::after {
	width: 100%;
}

header .web a {
	display: flex;
	position: relative;
	font-size: 19px;
	flex-grow: 1;
	font-weight: 500;
	transition: color 0.5s, font-size 0.5s;
	text-align: center;
	padding: 0 10px;
	margin: 0 5px; /* Adjust as needed */
}
  
header .web a:hover {
	color: orange;
}

header .snsContact {
	margin-left: auto;
	margin-right: 50px;
}

header .snsContact a {
	font-size: 35px;
	margin: 0 10px;
	color: #333;
	transition: color 0.3s ease;
}
  
header .snsContact a:hover {
	color: orange;
	background-color: orange;
	font-size: 38px;
}

@media (max-width: 768px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		width: auto;
	}
}

.mobile-menu {
	display: none;
  }
  
.toggle-button {
	font-size: 24px;
	cursor: pointer;
}
  
.mobile-menu.open {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100px; 
	left: 150px;
	width: 200px;
	height: 500px;
	background-color: #333;
	z-index: 1;
}
  
.mobile-menu.open .gnb {
	display: flex;
	flex-direction: column;
	width: auto;
}
  
.mobile-menu.open .gnb a {
	display: flex;
	font-size: 18px;
	padding: 15px;
	color: white;
	text-decoration: none;
	transition: color 0.3s;
}

.mobile-menu.open .gnb a.active {
	width: auto;
}
  
.mobile-menu.open .gnb a:hover {
	color: black;
	background-color: white;
}
  
@media (max-width: 768px) {
	.gnb {
	  display: none;
	}
	.web {
		visibility: hidden;
		width: 0;
	}
	.pc-menu {
		visibility: hidden;
		width: 0;
	}
	
	.mobile-menu {
	  display: flex;
	  align-items: center;
	}
}

@media (max-width:480px) {
	header .logo{
		margin-left: 0;
	}

	header .snsContact{
		margin-left: 0;
		margin-right: 0;
	}

	.mobile-menu.open {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100px; 
		left: 50px;
		width: 200px;
		height: 500px;
		background-color: #333;
		z-index: 1;
	}
}