header {
	width: 100%;
	position: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	font-family: 'Poppins', sans-serif;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;
	}
  }

header ul {
	display: flex;
}
header::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 0;
	background: linear-gradient(270deg, transparent, #cddc39, transparent);
  }
header::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0%;
	width: 100%;
	height: 0;
	background: linear-gradient(270deg, transparent, #4caf50, transparent);
  }
header.li::after {
	content: '';
	position: absolute;
	background-color: #ffffff;
	height: 3px;
	width: 100%;
	left: 0;
	bottom: -8px;
  }
header.sub .inner {
	padding: 20px;
  }
header .inner {
	display: flex;
	width: 1328px;
	margin: 0 auto;
	padding: 40px 0;
	align-items: center;
  }
header .logo {
	width: 31%;
	font-size: 35px;
	font-family: 'orpheus-pro', sans-serif;
  }
header .logo span {
	color: #4a6869;
  }
  header .gnb {
	position: relative;
	width: 46%;
	display: flex;
	justify-content: space-between;
  }
  
  header .gnb .line {
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100px;
	height: 0px;
	background: #4a6869;
	transition: all 0.5s;
	transition-timing-function: cubic-bezier(ease-in-out);
  }
  
  header .gnb .line.on {
	height: 5px;
  }
  
  header .gnb li {
	position: relative;
	font-size: 19px;
	color: #4a6869;
	font-weight: 500;
	transition: color 0.5s, font-size 0.5s;
  }
  
  header .gnb li a {
	transition: color 0.5s;
  }
  
  header .gnb li a:hover {
	color: rgb(43, 174, 41);
  }
  
  header .gnb li::after {
	content: '';
	position: absolute;
	background-color: #FFFFFF;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -8px;
	transition: width 0.5s ease;
  }
  
  header .gnb li:hover::after {
	width: 100%;
  }
  
  /* Additional styling for a cleaner look */
  header .gnb li a {
	text-decoration: none;
  }
  
  header .gnb li::before {
	content: '';
	position: absolute;
	background-color: transparent; /* Set the background color as needed */
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transition: background-color 0.5s;
  }
  
  header .gnb li:hover::before {
	background-color: rgba(255, 255, 255, 0.1); /* Set the background color on hover */
  }
  

header .snsContact {
	margin-left: 80px;
}

header .snsContact a {
	font-size: 35px;
	margin: 0 10px;
	color: #333;
	transition: color 0.3s ease;
  }
  
header .snsContact a:hover {
	color: #4caf50;
	background-color: #4caf50;
	font-size: 38px;
  }
  