.projects {
    text-align: center;
    margin-top: 1200px;
}

.projects h2 {
    font-size: 300%;
    margin-bottom: 20px;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
}

.project-box {
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
    padding: 20px; /* Add padding for better spacing */
    background-color: #333; /* Add a background color */
    color: white; /* Set text color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Add transitions */
}

.project-box:hover {
    border: 3px solid yellowgreen;
    color: black; /* Change text color on hover */
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Add transitions */
}

.projects h3 {
    background-color: #333;
}

.projects p{
    background-color: #333;
}

.projects a{
    background-color: #333;
    color: palevioletred;
}

.project a:hover {
    font-weight: bold;
}

